<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVENTURE COIFFEUR</title>
</head>
<body>
    <h1>hello BIENVUE CHEZ AVENTURE COIFFEUR</h1>
    <h4>ABOUT NOUS</h4>
    <p>Apprenti depuis 1 ans, pationné par le coiffure masculin, vous propose sa passion et son savoir-faire</p>

    <h3>LOCALISATION</h3>
    <p>Voici notre adresse</p>
    <br/>
    <br/>
    <hr/>
    <h2>RESERVATION</h2>
    <p>Veuillez choisir un horraire</p>

    <h2>INFOS PRATIQUE</h2>
    <P><i><b>Horraire</b></i></P>
    <p><i><b>Tarif</b></i></p>
    <p><i><b>Bon à savoir</b></i></p>
    <a></a>
    <h4>Les formulaires</h4>
    <form method="post" action="/reservation">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom"><br>

        <label for="nom">Nom   </label>
        <input type="text" id="nom" name="nom"><br>

        <label for="date">Date    </label>
        <input type="text" id="date" name="date"><br>

        <label for="heure">Heure   </label>
        <input type="text" id="heure" name="heure"><br>

        <label for="telephone">Téléphone </label>
        <input type="text" id="telephone" name="telephone"><br>

        <label for="prez">Une petite sujestion ?</label>
        <textarea id="prez" name="suggestion"></textarea><br>

        <input type="submit" value="OK">

    </form>
</body>
</html>